.logo-div {
  display: inline-block;
  vertical-align: center;
}

h1 {
  font-size: 80px;
}

.grad {
  background-image: linear-gradient(to bottom, #1976d2, #98acf8);
  min-width: 100%;
  min-height: 100vh;
}

.title-text {
  text-align: center;
  padding-top: 50px;
  font-weight: lighter;
  font-size: 72px;
  color: white;
  overflow: visible;
  z-index: 1000;
}

p {
  font-size: 25px;
}

.upper {
  color: white;
  padding-left: 14%;
  padding-top: 50px;
  display: inline-block;
}

.react-select-div {
  color: black;
  font-size: 30px;
  width: 50%;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 20px;
}

.card-z {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
}

.card-gr {
  margin: 5%;
}

.right-upper {
  display: inline-block;
  float: right;
  margin-top: 75px;
  margin-right: 10%;
  vertical-align: center;
  color: black;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: -5px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}

.reviews {
  margin-top: 75px;
  margin-right: 10%;
  vertical-align: center;
  color: white;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: -5px;
  border-radius: 25px;
  text-align: center;
}
