.outlinez {
  align-items:center;
  background-color: #a2d1ff;
  margin: 5%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.rowG{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

p {
  font-size: 25px;
}

.upper {
  color: white;
  padding: 5px;
  text-align: center;
}