@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&family=Inter:wght@600&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.card-to {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 60px;
  background-color: #a2d1ff;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.img-ft {
  width: 260px;
  height: 260px;
  border-radius: 205px;
}

h3 {
  color: white;
}

.col {
  text-align: center;
}

.inBox {
  margin-top: 10px;
  font-size: 80px;
  text-align: center;
  vertical-align: center;
}

.myname {
  text-align: center;
}

.major-text {
  font-size: 15px;
}

.major {
  display: flex;
  text-align: center;
  justify-content: center;
}

.aboutme {
  text-align: center;
  padding-top: 25px;
  justify-content: center;
  margin: 0 auto;
}

.linkedin {
  display: inline-block;
}

.github {
  display: inline-block;
  padding-left: 20px;
}

.website {
  display: inline-block;
}

.socials {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
