.cont1 {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 50px;
}

h1 {
  font-size: 70px;
}

.upper {
  color: white;
  padding-top: 50px;
  text-align: center;
}

.card-zt {
  box-shadow: 0 1% 1% rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  margin: 1%;
  align-items: center;
}

.div-title {
  font-size: 50px;
}

.foot {
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  margin-bottom: -20px;
  background-color: transparent;
}

.cds {
  background-color: transparent;
}