.logo-div {
  display: inline-block;
  vertical-align: center;
}

.intro-text {
  display: inline-block;
  width: 600px;
  vertical-align: center;
  color: white;
  padding-left: 50px;
}

h1 {
  font-size: 80px;
}

.div1 {
  padding-top: 90px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  overflow: visible;
  z-index: 1000;
}

.grad {
  background-image: linear-gradient(to bottom, #1976d2, #98acf8);
  min-width: 100%;
  min-height: 100vh;
}

.title-text {
  text-align: center;
  padding-top: 50px;
  font-weight: lighter;
  font-size: 72px;
  color: white;
  overflow: visible;
  z-index: 1000;
}

p {
  font-size: 25px;
}


.discover {
  color: #1976d2;
  background-color: white;
  border-radius: 15px;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 8px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: center;
  overflow: visible;
  z-index: 1000;
}

.bodyTextA {
  vertical-align: center;
}

.orange {
  height: 28.3px;
  width: 97%;
  background: #fdb45c;
  position: relative;
}

.blue {
  height: 28.3px;
  width: 98%;
  background: #00aeef;
  position: relative;
}

.red {
  height: 28.3px;
  width: 100%;
  background: #f26c4f;
  position: relative;
}

.green {
  height: 28.3px;
  width: 100%;
  background: #acd373;
  position: relative;
}

.linecolors {
  top: 220.5px;
  display: grid;
  position: relative;
  z-index: 0;
  transform: translateX(-60%);
}

.linecolorsR {
  top: -293px;
  width: 50%;
  position: relative;
  padding-left: 70%;
}

.greenR {
  height: 28.3px;
  width: 100%;
  margin-left: 25px;
  background: #acd373;
  position: relative;
}

.blueR {
  height: 28.3px;
  width: 100%;
  margin-left: 15px;
  background: #00aeef;
  position: relative;
}

