.logo-div {
  display: inline-block;
  vertical-align: middle;
}

.intro-text {
  display: inline-block;
  width: 600px;
  vertical-align: center;
  color: white;
  padding-left: 50px;
}

h1 {
  font-size: 80px;
}

.div1 {
  padding-top: 90px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.grad {
  background-image: linear-gradient(to bottom, #1976d2, #98acf8);
  min-width: 100%;
  min-height: 100vh;
}

.title-text {
  text-align: center;
  padding-top: 50px;
  font-weight: lighter;
  font-size: 72px;
  color: white;
}

p {
  font-size: 25px;
}

.foot {
  text-align: center;
  font-size: 15px;
  color: white;
  padding-bottom: 50px;
  background-color: black;
}
