@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");

.logo-div {
  display: inline-block;
  vertical-align: middle;
}

.intro-text {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  color: white;
}

h1 {
  font-size: 80px;
}

.div1 {
  padding-top: 90px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  font-family: "Oxygen", sans-serif;
}

.div2 {
  padding-top: 70px;
  position: relative;
  text-align: center;
}

.div3 {
  padding-top: 70px;
  position: relative;
  text-align: center;
}

#grad {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 112, 112),
    rgb(0, 0, 0)
  );
  min-width: 100%;
  min-height: 100vh;
}

.title-text {
  text-align: center;
  padding-top: 50px;
  font-weight: lighter;
  font-size: 72px;
  color: white;
}

p {
  font-size: 25px;
}

.foot {
  text-align: center;
  font-size: 15px;
  color: white;
  padding-bottom: 50px;
  background-color: black;
}
