.opening {
    background-color: #b30b00;
  
  }
  
  .dot {
    color: #b30b00;
  
  }
  
  .mtext {
    font-family: freight-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
  }
  
  .div-2 {
    width: 600px;
  
  }
  
  input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .dept-title {
    padding-left: 25px;
    padding-top: 25px;
    font-size: 70px;
    color: white;
  }

  .dtitle {
    font-size: 60px;
  }

  .barChar {
    display: inline-block;
    vertical-align: middle;
  }

  .pieChar {
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    padding-left: 30px;
  }

  .lineChar {
    display: inline-block;
    vertical-align: middle;
  }

  .depChar {
    padding-top: 70px;
    position: relative;
    text-align: center;
  }