.logo-div {
  display: inline-block;
  vertical-align: middle;
}

.intro-text {
  display: inline-block;
  width: 600px;
  vertical-align: middle;
  color: white;
}

#grad {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 112, 112),
    rgb(0, 0, 0)
  );
  min-width: 100%;
  min-height: 100%;
}

.title-text {
  text-align: center;
  padding-top: 50px;
  font-weight: lighter;
  font-size: 72px;
  color: white;
}

p {
  font-size: 25px;
}

.foot {
  text-align: center;
  font-size: 15px;
  color: white;
  padding-bottom: 50px;
}

.row {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
