<head>
  <link rel="stylesheet" href="../static/styles/data.css">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>CornellCensus</title>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light" height="70px">
    <a class="navbar-brand" href="#">
      <img src="../static/img/census_logo.PNG" width="30" height="30" class="d-inline-block align-top" alt="">
      Cornell Census
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/mission">Mission</a>
        <a class="nav-item nav-link" href="/data">Data</a>
      </div>
    </div>
  </nav>

  <div id="grad">
  <div class="row center-screen">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Courses</h5>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/courses" class="btn btn-primary">Access Courses</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Professors</h5>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/professors" class="btn btn-primary">Access Professors</a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="foot">CornellCensus, 2022.</div>

</body>